{{ define "opsgenie.message" }}[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} ({{ .CommonLabels.domain }}){{ end }}
{{ define "opsgenie.description" }}{{ range .Alerts }}{{ .Annotations.summary }}
{{ end }}{{ end }}
